# Include documentation and metadata files
include README.md
include readme.md
include hdf5schema\schemas\dataset_meta_schema.json
include hdf5schema\schemas\group_meta_schema.json
include LICENSE
include CITATION.cff

# Exclude compiled Python files and caches
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
